body {
    background-color: rgba(255, 255, 255, 1.0);
}

h1, h2, h3, h4, h5, h6, button {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

p, #results {
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.heading {
    text-align: center;
    position: relative;
    padding: 0 28%; 
}


/* Home */

.home {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 85%;
    height: 5%;
    max-height: 90%;
    max-width: 90%;
    margin: auto;
    padding: 1%;
    text-align: center;
}

.you-vs-computer {
    border: solid 2px rgba(0, 0, 0, 1.0);
    background-color: #024059;
    width: 50%;
    margin: auto;
    padding: 5%;
    text-align: center;
    color: #fefefe;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.you-vs-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 30px;
    border: solid 3px rgba(0, 0, 0, 1.0);
}


/* Navigation Area */

.button-options {
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 1.0);
    padding: 10px;
    margin: auto;
    width: 20%;
    background-color: rgba(255, 255, 255, 1.0);
    color: rgba(0, 0, 0, 1.0);
}

.button-options:hover {
    background-color: #024059;
    color: rgba(255, 255, 255, 1.0);
    border: 2px solid rgba(255, 255, 255, 1.0);
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3%;
}


/* Modal styling */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    text-align: center;
    line-height: 30px;
    font-size: 200%;
    padding: 20px;
    border: 1px solid rgba(105, 105, 105, 0.9);
    border-radius: 15px;
    width: 60%; 
}

.close {
    color: rgba(105, 105, 105, 0.9);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#big-bang {
    margin-top: 2%;
}


/* Game Area */

.game {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    width: 85%;
    height: 5%;
    max-height: 90%;
    max-width: 90%;
    margin: auto;
    padding: 1%;
    text-align: center;
} 

.score-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 5%;
    font-size: 200%;

}

.scores {
    border: solid 3px rgba(0, 0, 0, 1.0);
    border-radius: 15px;
}

#results {
    font-size: 150%;
    color: #024059;
}

.game-area-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 5%;
}

.button-round {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 30px;
    border: solid 3px rgba(0, 0, 0, 1.0);
}

#rock {
    background: url(../images/rock.webp) no-repeat center/cover;
}

#paper {
    background: url(../images/paper.webp) no-repeat center/cover;
}

#scissors {
    background: url(../images/scissors.webp) no-repeat center/cover;
}

#lizard {
    background: url(../images/lizard.webp) no-repeat center/cover;
}

#spock {
    background: url(../images/spock.webp) no-repeat center/cover;
}



/* Media query: large or landscape phones (320px and up) */

@media screen and (min-width: 320px) {

.heading {
    padding: 0 15%;
    font-size: 150%;
}


/* Navigation Area */

.navigation-buttons {
    flex-direction: column;
}

.modal-content {
    font-size: 150%;
    width: 75%;
}

#big-bang {
    width: 100%;
    height: 50%;
}

.button-options {
    margin-bottom: 2%;
    width: 100%;
}


/* Home */

.you-vs-computer {
    border: solid 2px rgba(0, 0, 0, 1.0);
    background-color: #024059;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 1%;
}

.you-vs-image {
    width: 90px;
    height: 90px;
    margin-right: 2%;
    margin-left: 2%
}


/* Game Area */

.scores {
    font-size: 70%;
    padding: 0 5%;
    border: solid 1px rgba(0, 0, 0, 1.0);
}

#your-score {
    padding: 0 8%; 
    margin-right: 3%;
}

#comp-score {
    margin-left: 3%;
}

.button-round {
    width: 80px;
    height: 80px;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 3%;
    padding: 0 1%;
}

#rock, #scissors {
    margin-right: 10%;
}

#paper, #lizard {
    margin-left: 10%;
}

}


/* Media query: large or landscape phones (480px and up) */

@media screen and (min-width: 480px) {

/* Navigation Area */

.modal-content {
    font-size: 150%;
    width: 75%;
}

#big-bang {
    width: 350px;
    height: 193px;
}

.button-options {
    width: 75%;
}

/* Home */

.you-vs-image {
    width: 100px;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
}


/* Game area */

.button-round {
    width: 100px;
    height: 100px;
}
}


/* Media query: large or landscape Tablets (768px and up) */

@media screen and (min-width: 768px) {

.heading {
    font-size: 180%;
    padding: 0 2%;
}


/* Navigation Area */

.navigation-buttons {
    flex-direction: column;
}

.button-options {
    width: 40%;
    margin-bottom: 2%;
}

#big-bang {
    width: 500px;
    height: 255px;
}

.modal-content {
    font-size: 150%;
    width: 80%;
}


/* Home */

.you-vs-computer {
    width: 80%;
}

.you-vs-image {
    width: 125px;
    height: 125px;
}


/* Game Area */

.scores {
    font-size: 70%;
    padding: 0 5%;
    border: solid 3px rgba(0, 0, 0, 1.0);
}

#your-score {
    padding: 0 8%; 
    margin-right: 3%;
}

#comp-score {
    margin-left: 3%;
}

.game-area-buttons {
    display: inline;
}

.button-round {
    width: 110px;
    height: 110px;
}

#rock, #scissors, #paper, #lizard, #spock {
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 5%;
}

}


/* Media query: large laptops or computer screens (1024px and up) */

@media screen and (min-width: 1024px) {

.heading {
    font-size: 200%;
}


/* Navigation Area */

.navigation-buttons {
    margin-top: 5%;
    flex-direction: row;
}

.modal-content {
    width: 80%; 
}

#big-bang {
    width: 655px;
    height: 315px;
}

.button-options {
    width: 25%;
}


/* Home */

.you-vs-computer {
    width: 55%;
}

.you-vs-image {
    width: 150px;
    height: 150px;
}


/* Game Area */

.scores {
    font-size: 100%;
}

.game-area-buttons {
    display: inline;
}

.button-round {
    width: 150px;
    height: 150px;
}
}


/* Media query: large computer screens (1200px and up) */

@media screen and (min-width: 1200px) {
    
.heading {
    font-size: 250%;
}


/* Navigation Area */

.navigation-buttons {
    margin-top: 2%;
    margin-bottom: 1%;
}

.button-options {
    margin-bottom: 1%;
}

.modal-content > p {
    font-size: 150%;
}


/* Home */

.you-vs-image {
    width: 175px;
    height: 175px;
}


/* Game Area */

#results {
    font-size: 250%;
}

#your-score, #comp-score {
    font-size: 100%;
}
}